# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Uni\Master_Medical_Informatics_2021-2023\Semester_1\VisMedData\Project\biosensor_project\biosensor_vis\data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
