{% extends "base.html" %}
{% block content %}
<script>
    document.getElementById("info").innerHTML = "<h1>About this website</h1>";
</script>

<h2>Authors (alph.): Lea Heinen, Lukas Gehring, Marit Bockstedte & Nadja Volkmann </h2>

<h1>About this project</h1>
<h2>This a project for the lecture "Visualization of Biological Data" in winter term 2021/22</h2>

<h2 class="collapsible">Ganttchart </h2>
<div class="content">
    <embed src="{{ url_for('static', filename='GanttChart.pdf') }}" width="800px" height="400px" />
</div>

<h1>About the visualizations</h1>

<h2 class="collapsible">Scatterplot </h2>
<div class="content">
    <p>The scatter plot is a uniform random sample of all data-points in the given timeframe with the given sample-size.<br>
Zooming is possible via click-hold selection. A double click resets the time axis and custom sample-size.</p>
</div>

<h2 class="collapsible">Lineplot </h2>
<div class="content">
    <p>The lineplot shows a connection of all data points by a line. The color gradient highlights the variations in the size of the y-variable. <br>
        Zooming is possible via click-hold selection. A double click resets the time axis.</p>
</div>

<h2 class="collapsible">Barchart </h2>
<div class="content">
<p>The bar chart shows the cumulative sum of activity (steps or calories) within the given time interval.<br>
    By clicking on bar, the activity within the interval of that bar is plotted more precisely. <br>
     Additionally, zooming is possible via click-hold selection. A double click resets the time axis <br>
     to the whole data set within the chosen precision.</p>
</div>

<h2 class="collapsible">Boxplot </h2>
<div class="content">
    <p>The box plot is a data distribution visualization of all data-points in the given timeframe.</p>
</div>

<h2 class="collapsible">Bubblechart </h2>
<div class="content">
<p>The Bubblechart plots circular activity. Every bubble represents an hour within a weekday (e.g. 0:00-1:00 on Monday). <br>
     The mean activity for every timepoint was either computed by the mean within an hour (temperature, heartrate) or by the <br>
     sum within an hour (steps, calories).</p>
</div>

<h2 class="collapsible">Chordgraph </h2>
<div class="content">
    <p>The chordraph represents the magnitudes of correlation (computed by using the amount of the pearson correlation coefficient between all data points) between each two variables. <br>
        The variables are represented as nodes on the outer part of the circular layout. Arcs connect the nodes and depict the magnitude of the correlation. By hovering over a variable name the corresponding arcs are highlighted in the graph.
        The arcs are colored by the color specified for the respective variable.</p>
</div>

<h2 class="collapsible">Correlation Analysis of daily data</h2>
<div class="content">
    <p>This visualization contains a correlation analysis of the data aggregated per day. In this analysis, the sum of
    calories and steps is determined, and the mean value is determined for temperature and heart rate. The correlation measure
    (Pearson correlation coefficient) is automatically displayed. Regression equations can be inserted through the data points and linear,
    quadratic and polynomial (order=3) regression equations can be displayed with the corresponding R<sup>2</sup>-value.</p>
</div>

<h2 class = "collapsible">Sources</h2>
<div class = "content">
<h3>Scatterplot:</h3>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/scatter_tooltip.html">Basic Scatterplot</a> <br>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/interactivity_brush.html#realgraph">Brushing</a>
<h3>Lineplot:</h3>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/line_cursor.html">Lineplot Tooltip</a> <br>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/interactivity_brush.html#realgraph">Brushing</a> <br>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/line_color_gradient_svg.html">Color Gradient</a>
<h3>Barchart:</h3>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/barplot_basic.html">Basic Bar Chart</a> <br>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/interactivity_brush.html#realgraph">Brushing</a> <br>
<h3>Boxplot:</h3>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/boxplot_basic.html">Basic Boxplot</a>
<h3>Bubblechart:</h3>
<a id = "link" href="https://www.youtube.com/watch?v=-YpwsdRKt8Q">Inspiration</a>
<h3>Chordgraph:</h3>
<a id = "link" href="https://www.d3-graph-gallery.com/graph/chord_axis_labels.html">Basic Chordgraph</a> <br>
<a id = "link" href="http://bl.ocks.org/nbremer/94db779237655907b907">Axis Label</a>
<h3>Correlation Analysis:</h3>
<a id = "link" href="https://thisancog.github.io/statistics.js/inc/correlation.html">Correlation</a> <br>
<a id = "link" href="https://github.com/harrystevens/d3-regression">d3-regression</a>
</div>

<!-- Add extandable content -->
<!-- source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate -->
<script src="{{ url_for('static', filename='extandable.js') }}"></script>
{% endblock %}
