{% extends "base.html" %}
{% block content %}
<script>
    document.getElementById("info").innerHTML = "<h1>About this website</h1>";
</script>
<h2>This a project for the lecture "Visualization of Biological Data" in winter term 2021/22</h2>
<h2>Authors (alph.): Lea Heinen, Lukas Gehring, Marit Bockstedte & Nadja Volkmann </h2>
<h2>V 1.0</h2>

<h1>About the visualizations</h1>
<h2>Scatterplot</h2>
<p>All scatterplot visualizations are uniform samples of a given sample size over the given time axis.<br>
Zooming is possible via click-hold selection. A double-click resets the time axis.</p>
<h2>Correlation Analysis of daily data</h2>
<p>This visualization contains a correlation analysis of the data aggregated per day. In this analysis, the sum of 
    calories and steps is determined, and the mean value is determined for temperature and heart rate. The correlation measure 
    (Pearson correlation coefficient) is automatically displayed. Regression equations can be inserted through the data points and linear, 
    quadratic and polynomial (order=3) regression equations can be displayed with the corresponding R<sup>2</sup>-value.</p>
{% endblock %}