{% extends "base.html" %}
{% block content %}



<script type="text/javascript">
    document.getElementById("info").innerHTML = "<h1 class=Analysis>Data Analysis</h1>";
    dataset = {{ data | safe }};
</script>

<!--Import statistics package-->
<script src="{{ url_for('static', filename='statistics.js') }}"></script>
<script src="{{ url_for('static', filename='d3-regression.js') }}"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

<!--Import scripts-->
<script src="{{ url_for('static', filename='chordgraph.js') }}"></script>
<script src="{{ url_for('static', filename='corr_plot.js') }}"></script>

<!--Load functions onload-->
<body onload="chordgraph('#chordgraph');correlationPlot('#corrPlot', 'blue', 250) ">

<!--Run Bubble chart visualization -->
<h2 class="collapsible">Bubble Chart <i class="fas fa-info-circle" title="Bubble chart"></i></h2>
<div class="content">
</div>

<!--Run chordgraph visualization -->
<h2 class="collapsible">Correlation Analysis of data <i class="fas fa-info-circle" title=" Correlation of data in a chord graph"></i></h2>
<div class="content">
  <div id='chordgraph'></div>
</div>

<!--Run correlation analysis visualization-->
<h2 class="collapsible">Correlation Analysis of daily data <i class="fas fa-info-circle" title=" Correlation of summarized data per day in a scatter plot"></i></h2>
<div class="content">
  
  <!--Choose variables via select item-->
  <select name="Variable1" id="v1">
    <option value="None">Select Variable 1</option>
    <option value='HR'>Heartrate</option>
    <option value="Steps">Steps</option>
    <option value="Calories">Calories</option>
    <option value="Temperature">Temperature</option>
  </select>

  <select name="Variable2" id="v2">
    <option value="None">Select Variable 2</option>
    <option value='HR'>Heartrate</option>
    <option value="Steps">Steps</option>
    <option value="Calories">Calories</option>
    <option value="Temperature">Temperature</option>
  </select>
    
  <input id="sub" type="submit" value="Submit" />

  <p id="corr"> </p>
  <label class="container">Linear Regression
    <input type="checkbox" id="linCheck">
    <span class="checkmark" ></span></nobr>
  </label>
  <p id="linregr"></p>
  <label class="container">Quadratic Regression
    <input type="checkbox" id="quadCheck">
    <span class="checkmark"></span>
  </label>
  <p id="quadregr"></p>
  <label class="container">Polynomial Regression
    <input type="checkbox" id="polCheck">
    <span class="checkmark"></span>
  </label>
  <p id="polregr"> </p>


  <!--Correlation plot visualization-->
  <div id="corrPlot"></div>
</div>



<!-- Add extandable content -->
<!-- source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate -->
<script src="{{ url_for('static', filename='extandable.js') }}"></script>

{% endblock %}
