{% extends "base.html" %}
{% block content %}
<h3 id="hrTitle"></h3>
<div id="hrDiv"></div>

<script type="text/javascript" >
    document.getElementById("info").innerHTML = "<h1>Heartrate Data</h1>";
    dataset = {{ data | safe }};
</script>

<!--Run scatterplot visualization-->
<!--<script src="{{ url_for('static', filename='scatterplot.js') }}"></script>
<body onload="scatterplot('HR', '#hrDiv', 'red', 250)">
-->

<!--Run lineplot visualization-->
<script src="{{ url_for('static', filename='lineplot.js') }}"></script>
<body onload="lineplot('HR', '#hrDiv', '#e0432f', 'hrTitle')">    

{% endblock %}

